@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@100;300;400;700;900&display=swap');

*,
:after,
:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #e6e6e6;
  --darkColor: #000000;
  --whiteColor: #ffff;
  --price: #262626;
  --radius: 0.5rem;
  --max-width: 1170px;
  --fixed-width: 650px;
  --smal-width: 450px;
  --ff-primary: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  margin-bottom: 1.25rem;
}

p {
  line-height: 1.25;
  margin-bottom: 1.25rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  background: var(--bg-primary);
  color: var(--darkColor);
  line-height: 1.5;
  font-size: 0.875rem;
}

main {
  display: flex;
  place-items: center;
  min-height: 100vh;
}

.container {
  width: 90vw;
  max-width: var(--max-width);
  margin: 4rem auto;
}

.shirt {
  display: grid;
  gap: 3rem;
}

.number {
  position: absolute;
  top: 0;
  left: 0.5rem;
  font-weight: 300;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .shirt {
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .shirt {
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 5rem;
  }
}

.image-container {
  max-width: 500px;
  position: relative;
  border-radius: 0.5rem;
}

.image-container img {
  width: 500px;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 5px #666666;
}

.shirt-info .name {
  text-transform: uppercase;
  margin-bottom: 1.75rem;
  font-family: var(--ff-primary);
  font-weight: 500;
  font-size: 1.75rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  body {
    font-size: 1rem;
  }
}
.shirt-info .price {
  text-transform: uppercase;
  background: var(--price);
  display: inline;
  padding: 0.5rem 2rem;
  padding-left: 0.5rem;
  color: var(--whiteColor);
}

.shirt-info .product_title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.shirt-info .product_text {
  text-align: justify;
  color: #1a1a1a;
  font-family: var(--ff-primary);
  font-weight: 500;
  line-height: 1.5;
}

/* button */
.button-container {
  display: flex;
  justify-content: space-between;
}

.prevBtn,
.nextBtn,
.randomBtn {
  background: transparent;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.3s linear;
}

.prevBtn {
  margin-right: 1rem;
}

.title {
  text-align: center;
}
